.post-quote {
  margin-top: 70px;
  margin-bottom: 70px;

  .quote-text {
    p {
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: "Coustard";
      font-weight: 400;
      font-size: 32px;
      text-align: center;
      border-top: 5px solid $green;
      border-bottom: 5px solid $green;
    }
  }
}
