.thought-box {
  margin-top: 24px;
  margin-bottom: 24px;
  .tb-show {
    padding: 5px 15px;
    margin-left: 8px;
    background: #6d712e;
    border-radius: 100px;
    color: white;
    border: none;
  }
}
