.thought-box {
  margin-top: 50px;
  margin-bottom: 50px;
  .tb-show {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    background: #6d712e;
    border-radius: 10px;
    color: white;
    border: none;
  }
  .tb-container {
    padding: 16px 10px;
    border: 1px solid #6d712e;
    border-top: none;
  }
}
