.accordion {
  padding: 20px;
  margin: 20px 0;
  transition: all 0.3s ease;
  background: #6d712e;
  border-radius: 20px;
  @include mq(sm, max) {
    border-radius: 10px;
  }
  &.active {
    .accordion__toggler {
      border-bottom: 1px solid white;
      padding-bottom: 8px;
      .sign {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
    .accordion__content {
      max-height: 100%;
      margin-top: 20px;
    }
  }

  .accordion__toggler {
    text-align: left;
    background: #6d712e;
    border: none;
    color: white;

    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    @include mq(sm, max) {
      font-size: 20px;
      line-height: 28px;
    }
    .accordion__question {
      @include mq(sm, max) {
        padding-right: 25px;
      }
    }
    .sign {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        top: 20px;
        right: 10px;
        width: 21px;
        height: 12px;
        background: url("../images/dropdown.svg") no-repeat center;
        transition: transform 0.3s ease-in-out;
        @include mq(sm, max) {
          top: 10px;
          width: 14px;
          height: 8px;
          background: url("../images/Vector.svg") no-repeat center;
        }
      }
    }
  }

  .accordion__content {
    max-height: 0px;
    overflow: hidden;
    p {
      font-family: "Coustard";
      font-weight: 400;
      font-size: 16px;
      line-height: 38px;
      color: white;
      @include mq(sm, max) {
        line-height: 22px;
        letter-spacing: 0.02em;
      }
    }
    img {
      width: 100%;
    }
  }
}
