footer {
  .name {
    font-weight: 900;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.02em;
    border-top: 1px solid #6d712e;
    padding-top: 20px;
  }
  .social-icons {
    justify-content: center;

    .social-link {
      padding: 0 20px;
      @include mq("sm", max) {
        padding: 0 15px;
        .social-icon {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  .bottom-bar {
    background-color: black;
    padding: 13px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.02em;
      @include mq("sm", max) {
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
}
