footer {
  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900;
    letter-spacing: 0.02em;
  }
  .social-icons {
    .social-link {
      padding: 0 30px;
      @include mq("sm", max) {
        padding: 0 20px;
        .social-icon {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  .bottom-bar {
    background-color: black;
    padding: 13px;
    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 22px;
      letter-spacing: 0.02em;
      @include mq("sm", max) {
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
}
