h1,
h2,
h3,
p {
  margin-bottom: 0;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 1.9em;
  line-height: 1.5;
  @include mq("md", max) {
    font-weight: 900;
    font-size: 1.3em;
  }
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5;
  @include mq("md", max) {
    font-size: 22px;
    line-height: 28px;
  }
}

p {
  font-weight: 300;
  letter-spacing: 0.02em;
  @include mq("md", max) {
    font-size: 14px;
  }
}

.green {
  background-color: $green;
}
