.about-me {
  margin-top: 40px;
  margin-bottom: 40px;
  .avatar {
    // border: 2px solid #ffffff;
    // border-radius: 50%;
    // width: 160px;
    // height: 160px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    clip-path: path(
      "M241.075 13.8662C283.436 15.459 325.504 4.20898 365.606 17.956C412.956 34.188 461.257 56.7741 488.594 98.7168C517.51 143.083 524.031 198.998 517.887 251.603C511.645 305.052 494.779 361.297 453.85 396.219C414.409 429.871 357.273 425.848 305.863 432.507C262.177 438.166 218.079 446.391 176.389 432.16C135.657 418.256 106.23 385.585 76.6883 354.277C45.9077 321.656 7.78304 290.661 1.03078 246.315C-5.73485 201.881 22.3152 161.266 41.0817 120.428C59.8008 79.6927 70.8217 29.4362 110.379 8.35916C149.659 -12.5705 196.601 12.1939 241.075 13.8662Z"
    );
    @include mq(md, max) {
      margin-bottom: 40px;
      max-width: 253px;
      margin-left: auto;
      margin-right: auto;

      clip-path: path(
        "M117.292 6.74642C137.903 7.52139 158.37 2.04783 177.881 8.73631C200.919 16.6338 224.419 27.6228 237.72 48.0295C251.788 69.6153 254.961 96.8203 251.972 122.414C248.935 148.42 240.729 175.785 220.815 192.776C201.626 209.149 173.827 207.191 148.814 210.431C127.559 213.185 106.104 217.186 85.82 210.262C66.0024 203.498 51.6849 187.602 37.3118 172.37C22.3359 156.498 3.78675 141.418 0.501516 119.841C-2.79022 98.2227 10.8572 78.4622 19.9878 58.5928C29.0954 38.7736 34.4575 14.3218 53.7035 4.06705C72.8149 -6.11605 95.6539 5.93279 117.292 6.74642Z"
      );
    }
  }
  .name {
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.02em;
    @include mq(sm, max) {
      font-size: 30px;
    }
  }
  .role {
    color: #848484;
    font-family: "Coustard";
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    margin-top: 20px;
    margin-bottom: 16px;
  }
  .social-icons {
    justify-content: center;
  }
  @include mq("md", max) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.about-content {
  a {
    color: $green;
  }
  p {
    margin-bottom: 8px;
    font-family: "Coustard";
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.02em;
    @include mq(sm, max) {
      line-height: 22px;
    }
  }
}
.faq-list {
  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    @include mq(sm, max) {
      font-size: 32px;
      line-height: 38px;
    }
  }
}
