.about-me {
  margin-top: 40px;
  margin-bottom: 40px;
  .avatar {
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-right: 30px;
    @include mq(sm, max) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .name {
    font-weight: 900;
  }
  .role {
    color: #848484;
    margin-bottom: 16px;
  }
  @include mq("md", max) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.about-content {
  a {
    color: $green;
  }
  p {
    margin-bottom: 8px;
  }
}
