.blog-detail {
  padding-top: 40px;
  padding-bottom: 40px;
  @include mq(lg, max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .title {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: "Coustard";
    @include mq(lg, max) {
      font-size: 24px;
      line-height: 38px;
    }
  }
  .blog-content {
    margin-bottom: 70px;
    p {
      font-family: "Coustard";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 50px;
      @include mq(sm, max) {
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}

.tags-label {
  font-weight: 700;
  font-size: 32px;
  line-height: 80px;
  letter-spacing: 0.02em;
  text-align: center;
}
