.blog-search {
  margin: 100px 0;
  @include mq("sm", max) {
    margin: 50px 0;
  }
  .headline,
  .headline2 {
    font-family: "Coustard";
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
  }
  .headline {
    margin-bottom: 60px;
    @include mq(sm, max) {
      font-family: "Merriweather";
      font-weight: 900;
      font-size: 20px;
      line-height: 38px;
      margin-bottom: 10px;
    }
  }
  .headline2 {
    @include mq("sm", max) {
      font-family: "Merriweather";
      font-weight: 900;
      font-size: 16px;
      line-height: 32px;
    }
  }
  .category-label {
    margin-top: 60px;
    font-family: "Coustard";
    font-weight: 400;
    font-size: 24px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
    @include mq(sm, max) {
      margin-top: 20px;
      margin-bottom: 10px;
      font-family: "Merriweather";
      font-weight: 900;
      font-size: 16px;
      line-height: 28px;
    }
  }
  .search-input {
    width: 100%;
    margin: 40px 0;
    padding: 0 10px 0 70px;
    border-radius: 10px;
    font-family: "Coustard";
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    color: #848484;
    background: url("../images/search-icon.svg") no-repeat scroll 20px 10px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    &::placeholder {
      color: #848484;
    }
    @include mq("lg", max) {
      border-radius: 5px;
      margin: 20px 0;
      padding: 10px 10px 10px 44px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      background-size: 14px 14px;
      background-position: 21px 11px;
    }
  }
  .category-list {
    display: flex;
    flex-wrap: wrap;
  }
  .view-all {
    padding: 13px 9px;
    margin: 20px 10px 0;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: none;
    font-family: "Coustard";
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: white;
    @include mq(sm, max) {
      margin-top: 0;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.category-item {
  background-color: $green;
  padding: 9px 10px;
  margin: 0 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: none;
  font-family: "Coustard";
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: white;
  &.active {
    background: #cfb53b;
  }
  @include mq(sm, max) {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 5px;
  }
  img {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    @include mq(sm, max) {
      width: 16px;
      height: 16px;
    }
  }
}

.blog-list {
  padding: 32px 0;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;
  .blog-item {
    margin-bottom: 40px;
    .title {
      font-family: "Merriweather";
      font-weight: 700;
      font-size: 32px;
      line-height: 48px;
      text-transform: capitalize;
      @include mq(lg, max) {
        font-size: 20px;
        line-height: 28px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    .title:hover {
      text-decoration: underline;
    }
    .content {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 15px;
      margin-bottom: 15px;
      color: #848484;
      font-family: "Coustard";
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }

    @include mq(lg, max) {
      margin-bottom: 40px;
    }
  }
  @include mq(lg, max) {
    padding: 16px 0;
  }
}

.date-time {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #848484;
  img {
    margin-right: 15px;
    @include mq(lg, max) {
      margin-right: 10px;
    }
  }
  @include mq(lg, max) {
    font-size: 16px;
    line-height: 22px;
  }
}
